<app-header *ngIf="false"></app-header>

<app-header-home></app-header-home>
<hr class="d-sm-none">
<div class="container">  
    <h2>MY DASH BOARD</h2>

   
    
<!-- <h2>Filterable Table</h2>
<p>Type something in the input field to search the table for first names, last names or emails:</p>  
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>

<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
     
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody id="myTable"  *ngFor="let user of users">
    <tr>
      <td (click)="populateData(user)" >  {{ user.uId }}</td>
      <td (click)="populateData(user)" > {{ user.email }}</td>
      
      <td  style="width:5%">
        <button type="button" class="btn btn-info" Tooltip="Click Edit Button" (click)="populateData(employee)">Edit</button>
      </td>
      <td  style="width:5%">
        <button type="button" class="btn btn-danger" Tooltip="Click Delete Button" (click)="deleteEmployee(employee.EmployeeId)">Delete</button>
      </td>
    </tr>
   
  </tbody>
</table>

<div *ngIf="error">
    {{ error }}
</div> 
</div> -->