<div style="padding-left:10px;width:500px">
    
    <div class="table-responsive bs-example widget-shadow">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped" >
          <thead>
            <tr>
              <th></th>
              <th>Tttle</th>
              <th>Description</th>
              <th>Lyrics</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody id="myTable"  *ngFor="let media of mediaDetailList">
            <tr>
              <td><img src="assets/image/emp1.png" /></td>
              <!-- <td><img [src]="media.imageUrl"  width=30px height="30px"/></td> -->
              <td (click)="onItemClick(media)" >  {{ media.title }}</td>
              <td (click)="onItemClick(media)" > {{ media.description }}</td> 
              <td (click)="onItemClick(media)" > {{ media.lyrics }}</td>
              <td  style="width:5%">
                <button type="button" class="btn btn-default" Tooltip="Click Edit Button" (click)="onItemClick(media)">
                    <i class="fa fa-edit"></i> Edit</button>
              </td>
             
            </tr>
          </tbody>
        </table>
          </div>
</div>
             
  